// Color Stack

$color-nav-a       : lighten(black, 60%);
$color-nav-a-hover : darken(white, 2%);
$color-gumleaf     : #B1D3BE;
$color-spray       : #83DEF1;
$color-white       : #ffffff;
$color-error       : #F58980;
$color-warning     : #F5AE80;
$color-purple      : #CC95DF;
$color-idigo       : #5F75CE;
$color-tacao       : #ECB183;
$color-neon        : #8DDF8B;
$color-brick       : #C27561;

// Line Height

$lh-main  : 1.4em;

// Font Size

$font-size-button    : 18px;
$font-size-desktop   : 22px;
$font-size-h-desktop : 40px;

// Breakpoint

$breakpoint-main   : 1400px;

