.grid__row1 {
    @include desktop {
    display: flex;
    flex-direction: row;
    }
}

.grid__col--12, .grid__col--6, .grid__col--4, .grid__col--3, .grid__col--5 {
    @include desktop {
    flex: 1;
  }
}

.grid__col--7 {
    @include desktop {
        flex: 2;
    }
}

.grid__col--8 {
    @include desktop {
        flex: 3;
    }
}

.theme__colors {
    margin: .6em;
}

.centered2 {
    justify-content: space-around;
    margin: 0 10em;
}

.grid__col--12 {
    @include desktop {
    display: flex;
    flex-direction: row;
    }
}
