* {
    text-align: center;
    text-decoration: none;
    list-style: none;
    line-height: $lh-main;
}

body {
    font-family: #{$main-font};
    @include desktop {
    max-width: 90%;
    margin: auto
  }
}




